.transactionHistory {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.tableHead {
  color: white;
  background-color: rgb(219, 155, 219);
}

.tableHeader {
  border: 2px solid white;
  padding: 0;
}
.tableRow {
  text-align: center;
}

.tableData {
  border: 1px solid thistle;
}
.tableRow:nth-child(even) {
  background-color: rgb(241, 215, 241);
}
